/* Global Styles */
body {
    font-family: Arial, sans-serif;
    background-color: #121212;
    color: #FFFFFF;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

/* Header */
h1 {
    font-size: 2rem;
    text-align: center;
    margin: 20px 0;
    color: #1DB954;
}

h2 {
    font-size: 1.5rem;
    color: #1DB954;
    margin-bottom: 10px;
}

/* Profile Section */
#profile {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #1E1E1E;
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
}

#profile span {
    color: #1DB954;
}

#avatar img {
    border-radius: 50%;
    display: block;
    margin: 10px auto;
}

#profile ul {
    list-style: none;
    padding: 0;
}

#profile li {
    margin: 8px 0;
}

/* Buttons */
button {
    display: inline-block;
    margin: 10px 5px;
    padding: 10px 20px;
    font-size: 1rem;
    color: #121212;
    background-color: #1DB954;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #18a34a;
}

textarea {
    display: block;
    width: 100%;
    max-width: 800px;
    margin: 20px auto;
    padding: 10px;
    border: 1px solid #333333;
    border-radius: 8px;
    background-color: #1E1E1E;
    color: #FFFFFF;
}

/* Search Results Section */
#search-results {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #1E1E1E;
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
}

#search-results ul {
    list-style: none;
    padding: 0;
}

#search-results li {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    padding: 10px;
    background-color: #333333;
    border-radius: 8px;
    transition: transform 0.2s;
}

#search-results li:hover {
    transform: scale(1.02);
}

#search-results img {
    border-radius: 5px;
    margin-right: 15px;
    width: 60px;
    height: 60px;
}

#search-results div {
    display: flex;
    flex-direction: column;
}

#search-results a {
    color: #1DB954;
    text-decoration: none;
    margin-top: 5px;
}

#search-results a:hover {
    text-decoration: underline;
}